/* style page de connexion */

#loginPage {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#loginPage h2 {
	margin-top: 150px;
	margin-bottom: 37px;
}

#loginForm {
	display: flex;
	flex-direction: column;
	align-items: center
}

#loginPage .form-group {
	display: flex;
	flex-direction: column;
	gap: 7px;
	margin-bottom: 30px;
}

#loginPage label {
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
    
}
#idemail, #idpassword {
	width: 379px;
	height: 51px;
	border: none;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

#loginPage button {
	width: 179px;

	margin: 7px 0 28px;
}

#forgotPassword {
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size: 14px;
	text-decoration-line: underline;
}

#loginPage .valide, #loginPage .invalide {
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 95%;
} 

#loginPage .valide {
    background-image: url(../icons/valide.png);
    background-size: 40px 40px;
}

#loginPage .invalide {
    background-image: url(../icons/invalide.png);
    background-size: 35px 35px;
}

