#portfolio {
	display: flex;
	flex-direction: column;
}

/** début ********* titre de la section *******************/
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio .portfolioTitre{
	position: relative;
	align-self: center;
}

#portfolio .portfolioEdition {
	display: none;
	gap: 10px;
	align-items: flex-end;
	position: absolute;
	right: -134px;
	top: 7px;
	cursor: pointer;
}
#portfolio .portfolioEdition svg {
    fill: black;
}

#portfolio .portfolioEdition:hover svg {
	fill: #B1663C;
}

#portfolio .portfolioEdition:hover span {
	color: #B1663C;
}
/** fin ************** titre de la section *********************/


/** début ************ style des btnFiltres *********************/
#filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

#filtres .btnFiltre {
	border-radius: 60px;
	border: 1px solid #1D6154;
	color: #1D6154;
	min-width: 70px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	padding: 0 15px;
	cursor: pointer;
}

#filtres .active {
	background: #1D6154;
	color: #FFF;
}
/** fin ************** style des btnFiltres *********************/


/** début ************* style de la galerie *********************/
#portfolio .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#portfolio .gallery img {
	width: 100%;
}
/** fin *************** style de la galerie *********************/