/*  Reset  */
@import './CSS/reset.css';
/* header */
@import './CSS/header.css';
/* section d'introdution */
@import './CSS/sect_intro.css';
/* formulaire de contact */
@import './CSS/form_contact.css';
/* footer */
@import './CSS/footer.css';
/* portfolio */
@import './CSS/sect_portfolio.css';
/* page de connexion */
@import './CSS/page_connexion.css';


body {
	display: flex;
	flex-direction: column;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
	height: 100vh;
}
main {
	flex: 1;
	align-self: center;
	max-width: 1140px;
}

section {
	margin: 50px 0
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

button {
	height: 36px;
	border: none;
	border-radius: 60px;
	background: #1D6154;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-weight: 700;
}

button:hover {
	background: #0E2F28;
}

button:invalid {
	background: #A7A7A7;
}

.message {
	margin: 25px;
	padding: 16px;
	border: 1px solid;
	border-left: 10px solid;
	border-radius: 15px;
	font-size: 16px;
}

.message span{
	font-size: 18px;
	font-weight: 700;
}

.info {
	color: rgb(77, 77, 255);
	border-color: rgb(77, 77, 255);
	background-color: rgb(77, 77, 255, 0.05);
}

.erreur {
	color: rgb(200, 0, 0);
	border-color: rgb(200, 0, 0);
	background-color: rgb(200, 0, 0, 0.05);
}

.succes {
	color: rgb(46, 201, 70);
	border-color: rgb(46, 201, 70);
	background-color: rgb(46, 201, 70, 0.05);
}
